
@font-face {
    font-family: droidANR;
    src: url(../fonts/DroidArabicNaskhRegula.ttf) format("truetype");
}
@font-face {
  font-family: GSTM;
  src: url(../fonts/ge-ss-two-medium.ttf) format("truetype");
}
